@media (min-width: 319px) and (max-width: 480px) {
    body {
        background-color: lightsalmon;
    }  
}

@media (min-width:481px) {
    body {
        background-color: powderblue;
    }
}

@media (min-width: 1201px) {
    body{
        background-color: limegreen;
    }
}

@media (min-width: 1601px) {
    body {
        background-color: seagreen;
    }
}